.pokedexMasterListContainer {
    overflow: auto;
    display: flex;
    background-color: blue;
}


#searchCriteriaContainer {
    background-color: red;
}

#displayFlex {
    display: flex;
    flex-direction: row;
}