@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Rubik";
    background-image: url('./img/bg.jpeg');
    background-size: cover;
}

.clearBtn {
    padding: 6px 20px 6px 20px;
    background-color: whitesmoke;
    font-weight: 600;
    border: none;
    box-shadow: 0px 5px 5px rgba(34,34,34,0.2);
}

p {
    font-weight: 600 !important;
}

tbody {
    width: 50%;
}

td {
    width: 300px;
    height: fluid;
    font-size: 13px;
    color: white;
}

.detailNameTd {
    padding: 0px 20px 0px 20px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 20px 0px 0px 20px;
    width: 100px;
    box-shadow: 0px 5px 5px rgba(34,34,34,0.2);
}

.detailInfoTd {
    padding: 0px 20px 0px 20px;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 0px 20px 0px 0px;
    border-spacing: 40px;
    box-shadow: 0px 5px 5px rgba(34,34,34,0.2);
}

.largerTypeImages {
    width: 40px;
}

.panelTypeImages {
    width: 32px;
}

.fakeTd {
    width: 30px;
}

.inputBox {
    border: none;
    border-bottom: solid;
    border-width: 2px;
    background-color: whitesmoke;
    padding: 5px 10px 5px 10px;
    color: #222;
    border-radius: 5px 0px 5px 0px;
    width: 20%;
    height: 20px;
    
}

.dropdownMenu {
    border: none;
    background-color: whitesmoke;
    padding: 5px 10px 5px 10px;
    color: #222;
    font-weight: 800;
    border-bottom: solid;
    border-width: 2px;
    border-color: #222;
}


.marginRight10px {
    margin-right: 10px;
}

.marginRight6px {
    margin-right: 6px;
}

.pokedexContainer {
    display: flex;
    z-index: 10;
}

#panelScroll {
    max-width: 100vw;
    max-height: 30vh;
    overflow: auto;
    white-space: nowrap;

}

.panelScrollContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.boxShadow {
    box-shadow: 0px 5px 5px rgba(34,34,34,0.4)

}

.detailWindowPokemonImg {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailWindowPokemonImgContainer {
    display: flex;
    justify-content: center;
    align-self: center;

}

.boxShadowNone {
    box-shadow: none !important;
}

.masterListImage {
    width: 100px;
    display: flex;
}

.evoPadding {
    padding-right: 10px;
}

.detailWindowPadding {
    margin: 0 auto;
    display: flex;

}

#searchCriteriaContainer {
    background-color: #b80c00;
    color: white;
    font-weight: 400;
    box-shadow: 0px 5px 5px rgba(34,34,34,0.4);
    border-bottom: solid;
    border-color: #222;
    border-width: 4px;
}

#detailWindowContainer {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayFlex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.displayBlock {
    display: block;
}

.flexStart {
    display: flex;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.padding20pixels {
    padding: 20px;
}

.fakeTr {
    height: 10px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.primaryInfoPadding {
    padding-left: 20px;
}

.panel {
    margin: 0px 10px 10px 0px;
    padding: 5px 30px 5px 20px;
    background-color: rgb(245, 245, 245, 0.8);
    font-size: small;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 5px 5px rgba(34,34,34,0.1);
    font-weight: 800;
    display: inline-block;
}

